body {
    background-color: #191919;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
}

nav a:hover {
    text-decoration: underline;
    color: #ffcc00;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    /* font-size: 2em; */
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead {
    background-color: #4d4d4d;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #232323;
}

th {
    background-color: #4d4d4d;
    color: #ffffff;
    text-align: center;
}

input{
    padding: 10px;
    font-size: 1em;
    background-color: #4d4d4d;
    border: 1px solid #232323;
    color: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
}

textarea{
    padding: 20px;
    font-size: 1em;
    background-color: #4d4d4d;
    border: 1px solid #232323;
    color: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    background-color: #ffcc00;
    color: #000000;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

footer {
    background-color: #333;
    color: #ffffff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.5);
}

label {
    font-size: 1.2em;
    margin-bottom: 1px;
    display: block;
    text-align: center;
    color: #f7f7f7;
}

#mercearia-menu{
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    align-items: flex-start;
    padding-left: 20px;
}

#mercearia-login{
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    align-items: flex-end;
    padding-right: 20px;
    margin-right: 20px;
}

#mercearia-menu h2{
    padding: 0;
    font-size: 4rem;
    color: #ffcc00;
}

#mercearia-login h2{
    padding: 0;
    font-size: 4rem;
    color: #ffcc00;
}

#mercearia-menu ul{
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
#mercearia-menu li{
    display: block;
    /* margin: 5px 0; */
}

#mercearia-login ul{
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

#mercearia-menu li{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* margin: 5px 0; */
}